C 0 0 "VDD" 0 0 0 0 60 0 L
X "PIN_TEXT" "VDD" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "DEN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "DEN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "CLSA" 0 -200 0 0 60 0 L
X "PIN_TEXT" "CLSA" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VSS_1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VSS_1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "VSS_2" 0 -400 0 0 60 0 L
X "PIN_TEXT" "VSS_2" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 400 -1200 "CLSB" 400 -1200 0 0 60 0 L
X "PIN_TEXT" "CLSB" 430 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1000 400 -1200 -1 0
C 500 -1200 "REF" 500 -1200 0 0 60 0 L
X "PIN_TEXT" "REF" 530 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1000 500 -1200 -1 0
C 600 -1200 "AMPS_CTL" 600 -1200 0 0 60 0 L
X "PIN_TEXT" "AMPS_CTL" 630 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1000 600 -1200 -1 0
C 700 -1200 "MPS_DUTY" 700 -1200 0 0 60 0 L
X "PIN_TEXT" "MPS_DUTY" 730 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1000 700 -1200 -1 0
C 800 -1200 "APD" 800 -1200 0 0 60 0 L
X "PIN_TEXT" "APD" 830 -970 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1000 800 -1200 -1 0
C 1300 0 "VC_IN" 1300 0 0 0 60 0 R
X "PIN_TEXT" "VC_IN" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "VC_OUT" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "VC_OUT" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "PG" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "PG" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "RTN_2" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "RTN_2" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 1300 -400 "RTN_1" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "RTN_1" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
C 400 800 "EP" 400 800 0 0 60 0 R
X "PIN_TEXT" "EP" 430 570 90 0.00 60 0 0 2 0 0 1 0 74
L 400 600 400 800 -1 0
C 500 800 "NC" 500 800 0 0 60 0 R
X "PIN_TEXT" "NC" 530 570 90 0.00 60 0 0 2 0 0 1 0 74
L 500 600 500 800 -1 0
C 600 800 "BT*" 600 800 0 0 60 0 R
X "PIN_TEXT" "BT*" 630 570 90 0.00 60 0 0 2 0 0 1 0 74
L 600 600 600 800 -1 0
C 700 800 "TPH" 700 800 0 0 60 0 R
X "PIN_TEXT" "TPH" 730 570 90 0.00 60 0 0 2 0 0 1 0 74
L 700 600 700 800 -1 0
C 800 800 "TPL" 800 800 0 0 60 0 R
X "PIN_TEXT" "TPL" 830 570 90 0.00 60 0 0 2 0 0 1 0 74
L 800 600 800 800 -1 0
C 900 800 "UVLO_SEL" 900 800 0 0 60 0 R
X "PIN_TEXT" "UVLO_SEL" 930 570 90 0.00 60 0 0 2 0 0 1 0 74
L 900 600 900 800 -1 0
L 200 600 1100 600 -1 0
L 1100 -1000 1100 600 -1 0
L 1100 -1000 200 -1000 -1 0
L 200 600 200 -1000 -1 0
P "$LOCATION" "?" 1150 770 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

